# Follow Changes of Forked/Upstream Repository.
#
# This workflow rebase-marge changes from upstream's master to origin's master. 
# - Ref:
#   - https://stackoverflow.com/a/61574295/12102603 by N1ngu @ StackOverflow (EN)
#   - https://qiita.com/KEINOS/items/3bcaa6cea853f6b63475 by KEINOS @ Qiita (JA)

name: sync_playfab

# Triggers the action as scheduled
on:
  # Runs on 10 minutes past every hour
  schedule:
    # Ref: 
    #   - https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule
    #   - https://crontab.guru/examples.html
    # Cron format:
    #         ┌───────────── minute (0 - 59)
    #         │ ┌───────────── hour (0 - 23)
    #         │ │ ┌───────────── day of the month (1 - 31)
    #         │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
    #         │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
    #         │ │ │ │ │                                   
    #         │ │ │ │ │
    #         │ │ │ │ │
    #         * * * * *
    - cron:  '10 */1 * * *'

jobs:
  merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Merge upstream
        run: |
          git config --global user.name ${NAME}
          git config --global user.email ${EMAIL}

          # Pass the --rebase-merges option to git rebase by default
          git config --global pull.rebase merges

          # "git checkout master" is unnecessary, already here by default
          git pull --unshallow  # this option is very important, you would get
                                # complains about unrelated histories without it.
                                # (but actions/checkout@v2 can also be instructed
                                # to fetch all git depth right from the start)

          # Add the repo which you forked to the remote and name it as "upstream"
          git remote add upstream ${REPO_FORK}

          # Fetch the upstream branches to local
          git fetch upstream

          # Merge changes
          git checkout master
          git merge --no-edit upstream/master
          git push origin master

        # Change the below to your settings
        env:
          NAME: Hinuko Shima
          EMAIL: shirokurohitsuji+shimahinuko@gmail.com
          REPO_FORK: https://github.com/PlayFab/CSharpSDK.git

  edit:
    runs-on: ubuntu-latest
    needs: merge
    steps:
      - uses: actions/checkout@v2
      - name: Get XML
        id: getxpath
        uses: QwerMike/xpath-action@v1
        with:
          filename: 'Assets/PlayFabSDK/source/PlayFabSDK.csproj'
          expression: '//Project/PropertyGroup/Version/text()'
      - name: Find and Replace
        uses: jacobtomlinson/gha-find-replace@master
        with:
          find: '\d\.\d{2}\.\d{6}'
          replace: ${{ steps.getxpath.outputs.result }}
          include: "Assets/PlayFabSDK/source/package.json"

  update:
    runs-on: ubuntu-latest
    needs: edit
    steps:
      - uses: actions/checkout@v2
      - name: Update forked repository
        run: |
          git config --global user.name ${NAME}
          git config --global user.email ${EMAIL}

          git add -A
          git commit -m ":arrow_up: update version"
          git push origin master

        # Change the below to your settings
        env:
          NAME: Hinuko Shima
          EMAIL: shirokurohitsuji+shimahinuko@gmail.com
          REPO_FORK: https://github.com/PlayFab/CSharpSDK.git
